@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

html {
    overflow-x: hidden;
}

.main-container {
    /*background-image: linear-gradient( to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8)),url('/assets/bg.jpg');*/
    background-color: black;
    background-image:linear-gradient( to top,rgba(0, 0, 0, 0.89) 0,rgba(0, 0, 0, 0.555) 60%,rgba(0,0,0,.8)),
     url('https://dhushandhansd.github.io/netflix-clone.github.io/assets/netflix-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    background-attachment: fixed;
    padding-bottom: 7%; 
    width: 100vw;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.navbar {
    display: flex;
    background: transparent;
    padding: 30px 50px;
    justify-content: space-between;
}

.navbar-brand > img {
    cursor: pointer;
}

.navbar-buttons > select {
    cursor: pointer;
}

.navbar-buttons > select > option {
    color: black;
}

.navbar-buttons > button {
    cursor: pointer;
}

.lang, .sign-in {
    width: 75px;
    height: 35px;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
    font-weight: 500;
    font-size: 1rem;
}

.lang {
    width: 85px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.459);
}

.lang:focus {
    outline: none;
}

.red-color {
    background-color: #E50914;
    border: none;
    color: white;
}

.navbar-buttons > button > a {
    text-decoration: none;
}


.wordings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wordings {
    width: 40%;
    word-wrap: break-word;
    font-size: 1.4rem;
    margin-top: 7%;
}

.title {
    font-size: 3rem;
}

.watch-cancel {
    font-size: 1.5rem;
    font-weight: 100;
}

.email-text {
    margin-top:40px;
    font-size: 1rem;
}

@media only screen and (max-width:720px)  {
    .wordings {
        width:100%;
        margin-right: 10px;
    }

    .title {
        font-size: 1.8rem;
    }

    .watch-cancel {
        font-size: 1rem;
        margin-top: 10px;
    }

    .email-text {
        font-weight: 500;
        margin-top: 10px;    }
}

.email-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width:720px) {
    .email-container {
        display: block;
    }
}

@media only screen and (max-width:720px) {
    .email-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.email-address-field {
    width: 35%;
    height: 55px;
    border: none;
    box-shadow:inset 0 0 1px 1px #888;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
    font-size: 1rem;
    color: black;
}

.email-address-field:focus {
    outline: none;
}

.email-validation-container {
    display: flex;
    justify-content: center;
}

.email-validation-container > p {
    color: rgb(236, 194, 8);
    display: none;
}

.get-started-btn {
    height: 55px;
    width: 10%;
    font-size: 1.3rem;
    border: none;
    background-color: #E50914;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.get-started-button {
    height: 55px;
    width: 10%;
    font-size: .8em;
    border: none;
    background-color: #E50914;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.get-started-btn:focus {
    outline: none;
}

.seperator {
    width: 100%;
    height: 10px;
    background-color: #28282B ;
}

.margin-spacing {
    margin-top: 10%;
}

.tv-container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tv-text-container {
    flex: 1;
    margin: 150px 50px;
}

.tv-text-container > h1 {
    font-size: 2.5em
}

.tv-text-container > p {
    font-size: 1.5rem;
}

.tv-image-container {
    flex: 1;
}

.tv-image-container > img {
    max-width: 470px;
    max-height: 397px;
}

.tv-video {
    width: 400px;
    height: 355px;
    position: absolute;
}

@media only screen and (min-width: 320px) {
    
    .tv-image-container > img {
        min-width: 340px;
        min-height: 397px;
    }
    
    .tv-video {
        left: 62px;
        min-width: 340px;
        min-height: 390px;
    }
}

@media only screen and (min-width : 720px) {
    .tv-video {
        left: 51%;
    }
}

@media only screen and (min-width: 1024px ) {
    .tv-video {
        left: 58.5%;
    }
}

.mobile-container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile-image-container {
    flex: 1;
}

.mobile-text-container {
    flex: 1;
}

.mobile-image-container > img {
    max-width: 482px;
    height: 378px;
}

.mobile-text-container > h1 {
    font-size: 3rem;
}

.mobile-text-container > p {
    font-size: 1.5rem;
}

.mobile-text-container {
    flex: 1;
    margin: 150px 50px;
}

.devices-container {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
}

.device-text-container {
    flex: 1;
    margin: 160px 50px;
}

.device-text-container > h1 {
    font-size: 3rem;
}

.device-text-container > p {
    font-size: 1.6rem;
}

.device-image-container {
    flex: 1;
}

.device-image-container > img {
    max-width: 515px;
    height: 416px;
}

.children-container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.children-image-container {
    flex: 1;
}

.children-image-container > img {
    min-width: 304px;
    height: 378px;
    margin-left: 10%;
}

@media only screen and (min-width: 320px) {
    .children-image-container > img {
        max-width: 404px;
    }
        
}

.children-text-container {
    flex: 1;
    margin: 130px 50px;
}

.children-text-container > h1 {
    font-size: 3rem;
}

.children-text-container > p {
    font-size: 1.5rem;
}

footer {
    display: inline-block;
    font-weight: 200;
    width: 100vw;
    margin-top: 10%;
}

.get-started-label-container {
    text-align: center;
}

.subscription-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 5px 0;
}

.email-validation-label {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.email-validation-label > p {
    color: rgb(236, 194, 8);
    display: none;
}

.credits-container {
    text-align: center;
}
/* 
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #888888;
}

::-webkit-scrollbar-thumb {
    background-color: #dd1933;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9e2636;
} */